.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#firstcanvas
{
   border-width: 10px;
   background-color: ivory;
   border-style: ridge;
   border-color: royalblue;
}

